@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}

body,
html {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;

  overflow-x: hidden;
  perspective: 10px;
  background-color: rgb(45, 45, 45);
}

/* animation for initial zoom out */

.perspective {
  animation: perspective 3s linear;
}

@keyframes perspective {
  from {
    perspective: 150px;
    /* left: 50%; */
  }
  to {
    perspective: 10px;
    /* left: 50%; */
  }
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}

#bg {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -10;
}

#bg {
  transform: translateZ(-89px) scale(10);
}

#fg {
  transform: translateZ(-10px) scale(2);
  z-index: -1;
  position: absolute;
  /* top: 90%; */
  bottom: -40%;
}

/* #fg2 {
  transform: translateZ(-40px) scale(3);
  z-index: -4;
  position: absolute;
  
} */

.container h1 {
  position: absolute;
  top: 13rem;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: 700;
  text-shadow: 0 0 2px black;
}

#header {
  transform: translateZ(-50px) scale(5);
  z-index: -4;
  position: absolute;
}

section {
  background: rgb(45, 45, 45);
  color: #fff;
  padding: 0 0px;
  padding-top: 0;
}

section h2 {
  font-size: 5rem;
  padding: 0 10rem;
}

.content {
  font-size: 1.5rem;
  padding: 0 2rem;
  margin: 5rem 0;
  text-align: justify !important;
  max-height: 35.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 20;
  -webkit-box-orient: vertical;
}

@media (max-width: 1600px) {
  .content {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  .content {
    font-size: 12px !important;
    padding: 0 1rem;
  }
}

@media (max-width: 1280px) {
  .content {
    font-size: 16px !important;
    padding: 0 1rem;
  }
}

.bg1 {
  background-image: url(../../assets/img/ad-1.jpg);
}

.bg2 {
  background-image: url(../../assets/img/ad-2.jpg);
}

.bg3 {
  background-image: url(../../assets/img/ad-3.webp);
}
.bg4 {
  background-image: url(../../assets/img/bg1.jpg);
}

.box {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  h4 {
    font-size: 3.5rem;
  }
}

.box h4 {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.box:hover h4 {
  background-color: rgba(0, 0, 0, 0.9);
}

/* animation for paraglider */
.animate-from-above {
  animation: moveFromAbove 8s linear;
}

@keyframes moveFromAbove {
  0% {
    transform: translateY(-100%) rotate(90deg) scale(0.2);
    opacity: 0;
  }

  40% {
    transform: translateY(0) translateZ(-40px) scale(4) rotate(0deg);
    opacity: 1;
  }
  55% {
    transform: translateY(0) translateZ(-40px) scale(3.5) rotate(0deg);
  }

  72% {
    transform: translateY(0) translateZ(-40px) scale(3) rotate(0deg);
  }

  74% {
    transform: translate(1px, 1px) translateZ(-40px) scale(3) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -2px) translateZ(-40px) scale(3) rotate(-5deg);
  }
  85% {
    transform: translate(-3px, 0px) translateZ(-40px) scale(3) rotate(5deg);
  }
  88% {
    transform: translate(3px, 2px) translateZ(-40px) scale(3) rotate(0deg);
  }
  91% {
    transform: translate(1px, -1px) translateZ(-40px) scale(3) rotate(3deg);
  }
  94% {
    transform: translate(-1px, 2px) translateZ(-40px) scale(3) rotate(-3deg);
  }
  96% {
    transform: translate(-3px, 1px) translateZ(-40px) scale(3) rotate(0deg);
  }
  98% {
    transform: translate(3px, 1px) translateZ(-40px) scale(3) rotate(-1deg);
  }
  99% {
    transform: translate(-1px, -1px) translateZ(-40px) scale(3) rotate(1deg);
  }

  100% {
    transform: translateY(0) translateZ(-40px) scale(3) rotate(0deg);
  }

  /* for shaking  */
}

.animate-text {
  animation: textAnimation 3s ease-in-out;
}

@keyframes textAnimation {
  from {
    opacity: 0;
    top: 100%;
    /* left: 50%; */
  }
  to {
    opacity: 1;
    top: 50%;
    /* left: 50%; */
  }
}
